body {
    background-color: palegreen;
    padding-top: 5rem;
    margin-right: 8px;
}

.no_margin {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#message_div {
    font-size: small;
    left: 0px;
    top: 3.6rem;
    padding-top: 0.1rem;
    height: fit-content;
    width: fit-content;
    padding-bottom: 0.1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0px;
    background-color: aquamarine;
    width: 100%;
    min-height: 3.6rem;
    height: fit-content;
}

#logo {
    margin-top: .5rem;
    margin-right: 27.1%;
}

#logo_image {
    height: 3rem;
    width: 4rem;
}

.header_text {
    margin-top: 1.2rem;
}

.profile_picture {
    margin-top: .6rem;
    margin-bottom: .6rem;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}

.float_right {
    margin-right: 5mm;
    float: right;
}

.header_icon {
    background-color: rgb(169, 255, 226);
    border-radius: 10px;
    height: 2rem;
    margin-top: 0rem;
    margin-right: .1rem;
}

.header_icon:hover {
    background-color: rgb(10, 245, 166);
}

.header_icon::after {
    background-color: rgb(169, 255, 226);
}

.inside_icon_counter {
    margin-left: -20px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: .25rem;
    padding-left: .25rem;
    text-align: center;
    font-size: 75%;
    background-color: rgb(241, 193, 95);
    border-radius: 50%;
    max-width: 1.5rem;
}

#DMs_div {
    height: 60%;
    width: 60%;
    position: absolute;
    margin-left: calc(6rem + 27.1% + .5rem);
    background-color: rgb(117, 93, 61);
    border-radius: 1%;
}

.post {
    padding: 1.5rem;
    padding-bottom: 5px;
    width: 40rem;
    background-color: rgb(167, 67, 117);
    /*border-width: 1px;
    border-style: ;
    border-color: gray;*/
    border-radius: 5px;
}

.post_icon {
    border-radius: 40%;
    padding: .3rem;
    margin-top: 1.5rem;
    height: 1rem;
}

.post_icon:hover {
    background-color: rgb(144, 138, 235);
    cursor: pointer;
}

.activated_icon {
    background-color: rgb(235, 140, 206);
}

.no_margin_top {
    margin-top: 0;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(0, 194, 194);
}