{% extends "layout.html" %}

{% block body %}
    <form method="post">
        <div>
            <input name="company_name" type="text" placeholder="Company name">
        </div>
        <div>
            <input name="company_size" type="text" placeholder="Company size (Small [0-50], Medium [51-250], Large [250-...])">
        </div>
        <div>
            <input name="password" type="password" placeholder="Password for company">
        </div>
        <div>
            <input name="repeated_password" type="password" placeholder="Repeat password for company">
        </div>
        <input type="submit" value="Register">
    </form>
{% endblock %}