{% extends "layout.html" %}

{% block body %}
    {% if req.session.credentials.accessToken %}
        <!-- Let the user post -->
        <form action="/post" method="post">
            <div>
                <table>
                    <tr>
                        <td>
                            <textarea name="text" placeholder="Post something" cols="90" rows="5" style="resize: none;" maxlength="10000"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="on_right" type="submit">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <hr>
    {% endif %}

    {% for post in posts %}
        <div class="post">
            <table>
                <tr>
                    <td>
                        <img class="profile_picture no_margin_top" src="{{ post.user.image_url }}" alt="Profile photo">
                    </td>
                    <td>
                        <a href="/users/{{ post.user.id }}">{{ post.user.first_name }} {{ post.user.last_name }}</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ post.text }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    {% if post.user.has_deactivated_comments %}
                                    {% else %}
                                        <a href="/post/{{ post.id }}">
                                            <img class="post_icon" alt="Comments" src="/public/comment_icon.png">
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <img onclick="like_post(this)" id="{{ post.id }}" class="post_icon {% if post.is_liked %}activated_icon{% endif %}" src="/public/like_icon.png" alt="like_icon">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ post.comment_count }}
                                </td>
                                <td>
                                    <div id="like_count_{{ post.id }}">
                                        {{ post.like_count }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <br>
    {% endfor %}
{% endblock %}