<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Contacted{% endblock %}</title>
        <link rel="stylesheet" href="/public/static/layout.css">
        <script type="text/javascript" src="/public/static/layout.js"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if message %}
            <div id="message_div" class="{{ message_color }}">
                {{ message }}
            </div>
        {% endif %}

        <header class="no_margin">
            <div class="no_margin">
                {% if req.session.credentials.accessToken %}
                    <img src="{{ req.session.credentials.user.image_url }}" onclick="" alt="Profile picture" class="profile_picture float_right">
                {% else %}
                    {% if do_not_show_session_links %}
                    {% else %}
                        <a href="/session/login" class="float_right header_text">Sign-in</a>
                        <a id="login_link" href="/session/register" class="float_right header_text">Register</a>
                    {% endif %}
                {% endif %}
            </div>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>