<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Contacted{% endblock %}</title>
        <link rel="stylesheet" href="/public/static/layout.css">
        <script type="text/javascript" src="/public/static/layout.js"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if message %}
            <div id="message_div" class="{{ message_color }}">
                {{ message }}
            </div>
        {% endif %}

        <header id="header" class="no_margin">

            
            <div class="no_margin">
                <!--Elements starting from the left-->
                <a {% if req.session.as_company %}href="/company/"{% else %}href="/"{% endif %} id="logo">
                    <img src="/public/company_logo.png" alt="Company logo" id="logo_image">
                </a>
                <a href="">
                    <img src="/public/job-icon.png" alt="Jobs" class="header_icon" id="first_header_icon">
                </a>
                
                
                <!--Float right elements-->
                {% if req.session.credentials.accessToken %}
                    {% if req.session.as_company %}
                        {% if req.session.user.is_company_admin %}
                        <a href="/profiles/me/company/">
                            <img src="{{ req.session.company.image_url }}" alt="Company profile picture" class="profile_picture float_right">
                        </a>
                        {% else %}
                            <img src="{{ req.session.company.image_url }}" alt="Company profile picture" class="profile_picture float_right">
                        {% endif %}
                        <a href="/" class="float_right header_text">
                            Search with personal account
                        </a>
                    {% else %}
                        <a href="/profiles/me">
                            <img src="{{ req.session.user.image_url }}" alt="Profile picture" class="profile_picture float_right">
                        </a>
                        {% if req.session.credentials.companyAccessToken %}
                            <a href="/company" class="float_right header_text">
                                Search as company account
                            </a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if do_not_show_session_links %}
                    {% else %}
                        <a href="/session/login" class="float_right header_text">Sign-in</a>
                        <a id="login_link" href="/session/register" class="float_right header_text">Register</a>
                    {% endif %}
                {% endif %}
            </div>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>