{% extends "layout.html" %}

{% block body %}
    <div class="centered">
        <form method="post" autocomplete="on">
            <div>
                <input type="email" name="email">
            </div>
            <div>
                <input type="password" name="password">
            </div>
            <input type="submit" value="Login">
        </form>
        <div class="centered">
            Don't have an account? <a href="/session/register">Create one</a>
        </div>
    </div>
{% endblock %}