{% extends "layout.html" %}

{% block body %}
    <div class="post">
        {% if req.session.credentials and post.user.is_company != req.session.as_company %}
            <img onclick="add_contact_from_icon(this)" id="{{ post.user.is_company }}_{{ post.user.id }}" class="post_icon post_header_icon" src="/public/message_icon.png" alt="Send message">
        {% elif req.session.credentials %}
            {% if req.session.as_company %}
                {% if req.session.company.id != post.user.id %}
                    <img onclick="add_contact_from_icon(this)" id="{{ post.user.is_company }}_{{ post.user.id }}" class="post_icon post_header_icon" src="/public/message_icon.png" alt="Send message">
                {% endif %}
            {% else %}
                {% if req.session.user.id != post.user.id %}
                    <img onclick="add_contact_from_icon(this)" id="{{ post.user.is_company }}_{{ post.user.id }}" class="post_icon post_header_icon" src="/public/message_icon.png" alt="Send message">
                {% endif %}
            {% endif %}
        {% endif %}
        <table>
            <tr>
                <td>
                    <img class="profile_picture no_margin_top" src="{{ post.user.image_url }}" alt="Profile photo">
                </td>
                <td>
                    {% if post.user.is_company %}
                        <a href="/companies/{{ post.user.id }}">{{ post.user.company_name }}</a> (Company)
                    {% else %}
                        <a href="/users/{{ post.user.id }}">{{ post.user.first_name }} {{ post.user.last_name }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ post.text }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <img onclick="like_post(this, 'post')" id="{{ post.id }}" class="post_icon {% if post.is_liked %}activated_icon{% endif %}" src="/public/like_icon.png" alt="like_icon">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="post_like_count_{{ post.id }}">
                                    {{ post.like_count }}
                                </div>
                            </td>
                        </tr>
                    </table>       
                </td>
            </tr>
        </table>
    </div>
    <br>
    {% if req.session.credentials.accessToken %}
        <hr>
        <form action="" method="post">
            <div>
                <table>
                    <tr>
                        <td>
                            <textarea name="text" placeholder="Comment something" cols="90" rows="5" style="resize: none;" maxlength="10000"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="on_right" type="submit">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    {% endif %}
    <hr>
    {% for comment in post.comments %}
        <div class="post">
            {% if req.session.credentials and comment.user.is_company != req.session.as_company %}
                <img onclick="add_contact_from_icon(this)" id="{{ comment.user.is_company }}_{{ comment.user.id }}" class="post_icon post_header_icon" src="/public/message_icon.png" alt="Send message">
            {% elif req.session.credentials %}
                {% if req.session.as_company %}
                    {% if req.session.company.id != comment.user.id %}
                        <img onclick="add_contact_from_icon(this)" id="{{ comment.user.is_company }}_{{ post.user.id }}" class="post_icon post_header_icon" src="/public/message_icon.png" alt="Send message">
                    {% endif %}
                {% else %}
                    {% if req.session.user.id != comment.user.id %}
                        <img onclick="add_contact_from_icon(this)" id="{{ comment.user.is_company }}_{{ comment.user.id }}" class="post_icon post_header_icon" src="/public/message_icon.png" alt="Send message">
                    {% endif %}
                {% endif %}
            {% endif %}

            <table>
                <tr>
                    <td>
                        <img class="profile_picture no_margin_top" src="{{ comment.user.image_url }}" alt="Profile photo">
                    </td>
                    <td>
                        {% if comment.user.is_company %}
                            <a href="/companies/{{ comment.user.id }}">{{ comment.user.company_name }}</a> (Company)
                        {% else %}
                            <a href="/users/{{ comment.user.id }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ comment.comment }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a>
                            <img onclick="like_post(this, 'comment')" id="{{ comment.id }}" class="post_icon {% if comment.is_liked %}activated_icon{% endif %}" src="/public/like_icon.png" alt="like_icon">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div id="comment_like_count_{{ comment.id }}">
                            {{ comment.like_count }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
    {% endfor %}
{% endblock %}